* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', serif;
    background: $black;
}

img {
    max-width: 100%;
    height: auto; 
}

.logo {
    max-width: 200px;
}

a {
    text-decoration: none;  
    font-size: 1.35rem;
}

h1, h2, h3, h4 {
    font-family: 'Times New Roman', serif;
}

h1 {
    font-size: $h1-small-size;
    @mixin atMedium {
        font-size: $h1-size;
    }
}

h2 {
    text-align: center;
    margin: 1.2rem 0 0 0;
    font-size: 1.6rem;
    @mixin atMedium {
        font-size: 2.2rem;
    }
}

/*p {
    font-size: 1.15rem;
    @mixin atMedium {
        font-size: 1.25rem;
    }
}*/

p {
    @mixin atMedium {
        font-size: 1.15rem;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    padding: .5rem .6rem;
    @mixin atMedium {
        padding: .5rem 1.2rem;
        font-size: 1.1rem;
    }
}

.section-container {
    width: 100%;
    max-width: 1000px;
}

.centered {
    margin: 0 auto;
}

i {
    text-rendering: optimizeLegibility;
}

.btn {
    border-radius: 25px;
    background: $black;
    padding: .5rem 1.4rem;
    color: $white !important;
    margin-top: .8rem;
    border: 2px solid $gold;
}