.about {
    background: $black;
    color: $white;
    background: radial-gradient(circle, $black, $black, $gold);

    h2 {
        text-align: left;
        margin-bottom: 2rem;
        letter-spacing: 3px;
        @mixin goldGradient;
    }

    ul li span {
        margin-right: 3px;
        @mixin goldGradient;
        font-size: large;
    }
}