.events {
    color: $white;
    h1 {
        @mixin goldGradient;
        font-size: 2rem;
        text-align: center;
    }

    &__sec {
        &--detail {
            display: grid;
            border-bottom: 1px solid $gold;
            padding: 1.2rem;
            gap: 1rem;
            @mixin atMedium {
                grid-template-columns: 1fr 2fr;
                gap: 3rem;
                padding: 2rem;
                place-items: center;
            }
            img {
                width: 400px;
            }

            h2 {
                @mixin goldGradient;
                text-align: left;
                margin-bottom: 1rem;
                font-size: 1.6rem;
            }

            div {
                background: url('../assets/images/bg-logo.png') center center/cover no-repeat;
                p {
                    font-size: 1rem;
                }
            }
        }
    }
}