.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(4deg, $gold, $black, $black);
    position: relative;
    z-index: 1;
    color: #fff;
    padding: 2.5rem 0 1.5rem 0;

    &::before {
        content: "";
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0;
        background: url('../assets/images/consult-bg.png') center center/cover no-repeat;
        opacity: 0.3; /* Adjust transparency */
        z-index: -1;
    }

    h1 {
        margin-bottom: 3rem;
        letter-spacing: 2px;
        @mixin goldGradient;
        text-align: center;
        @mixin forSmall {
            margin-block: 2rem;
        }
    }

    p {
        color: $white;
        padding: 0 2rem;
        text-align: justify;

        span {
            @mixin goldGradient;
        }
    }

    .hero-img-container {
        align-items: flex-end;
    }

    .two-column {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @mixin forSmall {
            flex-direction: column;
        }
      }
      
      .two-column > .col-left {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 1.2rem;
        @mixin atMedium {
            width: 50%;
            padding: 0 16px 0 0;
        }
      }
      
      .two-column > .col-right {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        padding: 1.2rem;
        @mixin atMedium {
            width: 50%;
            padding: 0 0 0 16px;
        }
      }
}