/*.subsidiaries {
    background: $black;
    position: relative;

    h2 {
        @mixin goldGradient;
        letter-spacing: 3px;
        padding: 2rem;
        text-align: right;
        line-height: 1.5;
    }
}

.subsidiary {
    position: relative;
    margin: 2.5rem auto;
    max-width: 1000px;
    @mixin atMedium {
        padding: 2rem;
        margin: 0 auto;
        border-right: 2px solid $gold;
        border-top: 2px solid $gold; 
        
        &:nth-child(2) {
            border-left: none;
            border-right: 2px solid $gold;
        }

        &:nth-child(3) {
            border-right: none;
            border-left: 2px solid $gold;
        }
    }

    &__desc {
        padding: 1.2rem .8rem;
        @mixin atMedium {
            position: absolute;
            top: 30%;
            right: -20%;
            max-width: 500px;
            padding: 1.2rem;
        }        
        color: $black;
        background: $black;
        @mixin forSmall {
            border: 2px dotted $gold;
        }
        
        h3 {
            font-size: 1.5rem;
            @mixin atMedium {
                font-size: 2rem;
            }
            margin-bottom: 1.2rem;
            font-weight: bold;
            letter-spacing: .5px;
            text-transform: uppercase;
            @mixin goldGradient;
        }

        p {
            line-height: 1.4;
            /*font-size: 1.15rem;*/
            /*color: $white;
        }
    }

    .alt-pos {
        @mixin atMedium {
            left: -20%;
        }
    }
}*/

.subsidiaries {
    background: $black;
    position: relative;

    h2 {
        @mixin goldGradient;
        letter-spacing: 3px;
        padding: 2rem;
        text-align: right;
        line-height: 1.5;
    }
}

.subsidiary {
    position: relative;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @mixin forSmall{
        grid-template-columns: 1fr;
    }

    &__sec {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-wrap: wrap;
        /*gap: .5rem;*/
        background-color: $white;

        & > div {
            display: flex;
            flex-direction: column;
           
            @mixin atMedium {
                width: 200px;
                gap: 1rem;
                /*border: 2px solid $lightgold;*/
            }

            div {
                @mixin forSmall {
                    order: 2;
                }
            }

            img {
                @mixin forSmall {
                    order: 1;
                }
            }

            p {
                font-size: 1rem;
                padding: 1rem;
                @mixin atMedium {
                    background-color: #f9f9f9;
                    border-radius: 15px 0;
                }
            }

            ul li {
                font-size: .8rem;
                padding: .2rem .9rem;
            }

            h4 {
                padding: 0 1rem;
                @mixin forSmall {
                    text-align: center;
                    background-color: #2e2d2d;
                    padding: 1rem;
                    color: $lightgold;
                }
            }
        }

        @mixin forSmall {
            order: 1;
        }
    }

    .f-center {
        @mixin atMedium {
            display: flex;
            justify-content: center;
            gap: 3rem;
        }
    }

    img {
        @mixin forSmall {
            order: 2;
        }
    }
}